#logo {
    margin: 10px;
    border-style: groove;
    border-width: 10px;
    border-radius: 20px;
    padding: 5px;
}

#logo:hover {
    filter: drop-shadow(5px 5px 10px black);
    opacity: 0.8;
}

#parent {
    text-align: center;
    flex-grow: 1.5;
    margin-right: 11%;
}

body {
    background-image: url('images/clouds.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#affirmation {
    display: flex;
    flex-direction: row;
}

h1 {
    text-decoration: underline;
}

#generator {
    border-style: solid;
    border-width: 3px;
    border-color: black;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.input-container {
    border-style: solid;
    border-width: 3px;
    border-color: black;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

#saved {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 25px;
}

#personalContainer {
    border-style: solid;
    border-width: 3px;
    border-color: black;
    display: inline-block;
    padding-top: 2px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

#generatedContainer {
    border-style: solid;
    border-width: 3px;
    border-color: black;
    display: inline-block;
    padding-top: 2px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.button:hover {
    filter: drop-shadow(2px 2px 10px yellow);
}

button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}